body {
  background: #000000 ;
}

h1 {
  margin: 2rem;
  text-align: center;
  color: white;
  font-family: fantasy;
}

h2 {
  text-align: center;
  color: white;
  font-family: fantasy;
  font-size: 26px;
}

#message-display {
  text-align: center;
  font-family: fantasy;
  font-size: 26px;
  color: white;
}

.outer-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#game-area{
  position: relative;
  z-index: 1;
  width: 100%;
  background: #000000;
}

#playing-cards {
  display: flex;
  justify-content: center;
  height: 450px;
  //width: 850px;
  display:table;
  margin: 0 auto;
}

#action-area {
  justify-content: center;
  z-index: 10;
  display: flex;
  flex-direction: row;
}

button {
  font-family: fantasy;
  background: #6ea023;
  color: #051900;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  line-height: 20px;
  padding-top: 20px;
  transition: all 0.2s ease 0s;
  
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
}
button:hover {
  cursor: pointer;
  color: white;
}
button:active {
  color: yellow;
  -webkit-box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
}

img {
  width: 65px;
  height: 100px;
}

@media (min-width: 1200px) {
  body {
    //padding: 0 12%;
  }
}
