body {
  height: 100vh;
  background: #051900 ;
}

h1 {
  margin: 2rem;
  text-align: center;
  color: white;
  font-family: fantasy;
}

h2 {
  font-family: fantasy;
  font-size: 26px;
  color: #051900;
}

.game-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  perspective: 1000px;
}

#game-area{
  position: relative;
  z-index: 1;
  width: 100%;
  transform: rotateX(35deg);
  padding: 0 2rem 2rem 2rem;
  background: #38630e;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 46px 1px rgba(196,222,0,1);
  -moz-box-shadow: 0px 0px 46px 1px rgba(196,222,0,1);
  box-shadow: 0px 0px 46px 1px rgba(196,222,0,1);
  
}

#dealer-area {
  margin-bottom: 2rem;
}

#dealer-cards {
  transform: translateY(-40px);
  display: flex;
  justify-content: center;
  height: 168px;
}

#player-area #announcement {
  margin-left: 25%;
}

#player-cards {
  display: flex;
  justify-content: center;
  height: 168px;
}

#action-area {
  position: absolute;
  right: 10px;
  bottom: 20%;
  z-index: 10;
  width: 15%;
  display: flex;
  flex-direction: column;
}

#next-hand, #hit-me {
  margin-bottom: 3rem;
}

button {
  font-family: fantasy;
  background: #6ea023;
  color: #051900;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  line-height: 20px;
  padding-top: 20px;
  transition: all 0.2s ease 0s;
  
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
}
button:hover {
  cursor: pointer;
  color: white;
}
button:active {
  color: yellow;
  -webkit-box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
}
button#next-hand {
  background-color: #6ea023;
}
button#hit-me {
  background-color: #c3de00;
}
button#stay {
  background-color: #add285;
}

img {
  width: 100px;
  height: 150px;
}

@media (min-width: 1200px) {
  body {
    padding: 0 12%;
  }
}
